/*estilo geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

img {
    width: 175px;
    height: auto;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 255, 76);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00ff08;
}

/*classe geral*/
button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px rgb(0, 255, 153);
    transform: scale(1.05);
}

/*estilo do cabeçalho*/

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.10);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/*estilo do menu mobile*/
.btn-abrir-menu i {
    color: #00ff08;
    font-size: 40px;
    position: fixed;
}

.btn-abrir-menu {
    margin-left: 92%;
    margin-top: -30%;
}

.menu-mobile {
    background-color: #000000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    /*sobrepõe itens de valores menores*/
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.btn-abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar i {
    color: #00ff08;
    font-size: 30px;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 5%;
    display: block;


}

.menu-mobile nav ul li a:hover {
    background-color: #00ff2a;
    color: #000000;
}

.overlay-menu {
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;

}

/*Estilo do Topo Site*/
section.topo-do-site {
    padding: 80px 4%;
}

section.topo-do-site.flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 40px;
    line-height: 40px;

}

section img {
    width: 400px;
    height: auto;
    align-items: center;
    border-radius: 150px;
}

.txt-topo-site h1 span {
    color: chartreuse;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 2px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/*Estilos da especialidades*/
section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
    /*espaçamento*/
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    /*border: 2 px solid #fff;*/
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffffff78;
    /*sombreado*/
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #00ff08;
    align-items: center;
}

.especialidades .especialidades-box h3 {
    font-size: 29px;
    margin: 15px
        /*distancia*/
        0px
        /*laterais*/
    ;
}

section.sobre img {
    margin-left: 130%;
    margin-top: 10%;
    border-radius: 30px;
}

section.sobre {
    padding: 200px 4%;
    padding-top: 5%;
}

section.sobre .flex {
    align-items: center;
    gap: 500px;
}

.sobre .txt-sobre {
    color: #fff;
    margin-left: 5%;
}

.sobre .txt-sobre h2 {
    font-size: 41px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre span {
    color: #00ff08;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px
        /*encima e embaixo*/
        0;
    /*laterais*/
    text-align: justify;
    max-width: 60%;
}

/*.sobre .txt-sobre*/
.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 23px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/*Estilo do portfolio*/
section .portfolio {
    padding: 80px 0;
    box-shadow: 0px
        /*deslocamento horizontal*/
        0
        /*vertical*/
        40px
        /*desfoque*/
        10px
        /*espalhamento da sombra*/
        #000;
       
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 0% 100%;
    transition: .7s;
    border-radius: 40px;
    cursor: pointer;
    position: relative;

}

section.portfolio .flex {
    /*tranalhar na classe portfolio*/
    /*gap: 80px;/*respiro*/
    justify-content: space-around;
    margin: 60px;
    margin-top: 40px;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    right: 100%;
    background-color: #5c5c5c00;
    padding: 54% 50% 54% ;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
    text-align: center;
}

.overlay:hover {
    opacity: 1;
}

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;

}

form input,
textarea {
    width: 100%;
    background-color: #2a2a2a;
    border: 0;
    outline: 0;
    /*contorno*/
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form input::placeholder

/*chamando place*/
    {
    color: #00ff087e;
}

form textarea {
    resize: none;
    height: 200px;


}

form .btn-enviar {
    margin-top: 19px;
    text-align: center;
}

form textarea::placeholder {
    color: #00ff087e;
}

form .btn-enviar input

/*[type=submit]*/
    {
    width: 121px;
    text-align: center;
    background-color: #00ff08;
    color: #000;
    font-weight: 700;
    /*grossura fonte*/
    transition: .2s;
}

/*Estilo do rodapé*/
footer {
    padding: 50px 4%;
    box-shadow: 0px
        /*deslocamento horizontal*/
        0
        /*vertical*/
        40px
        /*desfoque*/
        10px
        /*espalhamento da sombra*/
        #000;
}

footer .flex {
    justify-content: space-between;
    /*espaçamento dos botões*/
}

footer .line-footer {
    padding: 20px 4%;
}

.borda {
    border-top: 2px solid #00ff08;
}

footer .line-footer p i {
    color: #00ff08;
    font-size: 23px;
    padding: 0.5%;
}

footer .line-footer p a {
    color: #fff;
}

@media screen and (max-width: 1020px) {

    /*classe geral*/
    h2.titulo {
        font-size: 33px;
        line-height: 30px;
    }

    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /*cabeçalho*/
    .menu-desktop,
    .btn-contato {
        display: none;
    }


    /*topo do site*/
    section.topo-do-site.flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 32px;
        padding-top: 20%;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /*Estilos da especialidades*/
    section.especialidades {
        padding: 40px 8%;
    }

    section.sobre img {
        margin-left: -15%;
        border-radius: 30px;
        align-items: center;
    }

    section.sobre .flex {
        align-items: center;
        gap: 50px;
        padding: 10px 5%;
    }

    /*sobre*/
    section.sobre {
        padding: 80px 4%;
    }

    .sobre .txt-sobre h2 {
        font-size: 40px;
        line-height: 35px;
        text-align: center;
    }

    .sobre .txt-sobre p {
        margin: 20px
            /*encima e embaixo*/
            0;
        /*laterais*/
        text-align: justify;
        max-width: 100%;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre {
        width: 90%;
        padding: -40%;

    }

    /*portfolio*/
    section.portfolio {
        padding: 80px 1%;
    }

    .img-port {
        /*max-width: 160px;*/
        margin: auto;
        width: 100%;
    }

    section.portfolio .flex {
        gap: 60px;
    }

    /*rodapé*/
    footer.flex {
        flex-direction: column;
        gap: 35px;

    }

    footer.line-footer {
        text-align: center;
    }
}
/*TESTE*/
